/* #region = GLOBAL */

$color-white: hsl(0, 0%, 100%);
$color-gray-200: hsl(210, 46%, 95%);
$color-gray-400: hsl(212, 23%, 69%);
$color-gray-500: hsl(214, 17%, 51%);
$color-gray-900: hsl(217, 19%, 35%);

$shadow-color: hsla(210, 29%, 84%, 0.5);
$shadow: 0 2.5rem 2.5rem -0.625rem $shadow-color;
$shadow-tooltip: 0 0.625rem 0.625rem 0 $shadow-color;

html {
  text-rendering: optimizeSpeed;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  color: $color-gray-900;

  height: 100svh;
}

.c-font_preset-1 {
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 130%;
  letter-spacing: 0.016rem;
}

.c-font_preset-2 {
  font-size: 0.813rem;
  font-weight: 500;
  line-height: 140%;
  letter-spacing: 0.001rem;
}

.c-font_preset-3 {
  font-size: 0.813rem;
  font-weight: 700;
  line-height: 140%;
  letter-spacing: 0.001rem;
}

.c-font_preset-4 {
  font-size: 0.813rem;
  font-weight: 500;
  line-height: 140%;
  letter-spacing: 0.203rem;
  text-transform: uppercase;
}

/* #endregion = GLOBAL */

/* #region = COMPONENTS */

.c-hero {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100%;
  background-color: $color-gray-200;

  padding-inline: 1.5rem;
}

.c-card {
  box-shadow: $shadow;

  max-inline-size: 30rem;

  @media (min-width: 48rem) {
    display: flex;
    max-inline-size: none;
    width: clamp(38rem, calc(30rem + 17vw), 45.625rem);
  }

  @media (min-width: 75rem) {
    width: 45.625rem;
  }
}

.c-card_content {
  background-color: $color-white;
  padding: 2rem;
  padding-bottom: 1.25rem;
  border-bottom-left-radius: 0.625rem;
  border-bottom-right-radius: 0.625rem;

  gap: 2rem;

  @media (min-width: 48rem) {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;

    border-bottom-left-radius: 0;
    border-top-right-radius: 0.625rem;
  }

  @media (min-width: 75rem) {
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-inline: 2.5rem;
  }
}

.c-button {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background-color: $color-gray-200;

  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;

  transition: background-color 150ms ease-in-out;

  &::before {
    content: "";
    position: absolute;
    inset: -1rem;
    border-radius: 50%;
  }

  &.is-active {
    background-color: $color-gray-500;
  }

  &.is-active .c-icon_button {
    fill: $color-white;
    rotate: -30deg;
  }

  &:focus-visible {
    outline: 2px solid $color-gray-500;
    outline-offset: 0.25rem;
  }

  &.is-active:focus-visible {
    outline-color: $color-white;
  }

  @media (min-width: 64rem) {
    &:hover,
    &:focus-visible {
      background-color: $color-gray-500;
    }

    &:hover .c-icon_button,
    &:focus-visible .c-icon_button {
      fill: $color-white;
    }

    &.is-active:focus-visible {
      outline-color: $color-gray-500;
    }
  }
}

.c-icon_button {
  transform: translate(0.05rem, -0.05rem);
  fill: $color-gray-500;

  transition: fill 150ms ease-in-out, rotate 150ms ease-out;
}

.c-sharing_tooltip {
  background-color: $color-gray-900;
  color: $color-gray-400;

  width: 100%;
  height: 2.5rem;
  padding-inline: 2rem;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;

  position: absolute;
  bottom: -1.25rem;
  left: -2rem;

  gap: 1.5rem;

  border-bottom-left-radius: 0.625rem;
  border-bottom-right-radius: 0.625rem;

  @media (min-width: 48rem) {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;

    width: fit-content;
    padding-inline: 2.5rem;
    padding-top: 0.625rem;
    padding-bottom: 0.625rem;
    border-radius: 0.625rem;

    box-shadow: $shadow-tooltip;
  }
}

// tooltip invisible by default
#tooltip {
  display: none;
}

#tooltip[data-show] {
  display: flex;
}

// tooltip arrow styling
@media (min-width: 48rem) {
  #arrow,
  #arrow::before {
    position: absolute;
    width: 1.2rem;
    height: 1.2rem;
    background: inherit;
  }

  #arrow {
    visibility: hidden;
  }

  #arrow::before {
    visibility: visible;
    content: "";
    transform: rotate(45deg);
  }

  #tooltip[data-popper-placement^="top"] > #arrow {
    bottom: -0.6rem;
  }

  #tooltip[data-popper-placement^="bottom"] > #arrow {
    top: -0.6rem;
  }

  #tooltip[data-popper-placement^="left"] > #arrow {
    right: -0.6rem;
  }

  #tooltip[data-popper-placement^="right"] > #arrow {
    left: -0.6rem;
  }
}

.c-icon_button\:tooltip {
  fill: $color-white;
  transition: fill 150ms ease-in-out;
}

.c-button_small {
  width: 1.25rem;
  height: 1.25rem;

  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;

  &::before {
    content: "";
    position: absolute;
    inset: -1rem;
  }

  @media (min-width: 64rem) {
    &:hover .c-icon_button\:tooltip,
    &:focus-visible .c-icon_button\:tooltip {
      fill: $color-gray-400;
    }

    &:focus-visible {
      outline: 2px solid $color-gray-200;
      outline-offset: 0.25rem;
    }
  }
}

/* #endregion = COMPONENTS */

/* #region = OBJECTS / LAYOUT */

.o-flex_col {
  display: flex;
  flex-direction: column;
}

.o-flex_row {
  display: flex;
  flex-direction: row;
}

.o-main_image {
  width: 100%;
  aspect-ratio: 327 / 200;
  object-fit: cover;

  border-top-right-radius: 0.625rem;
  border-top-left-radius: 0.625rem;

  @media (min-width: 48rem) {
    border-top-right-radius: 0;
    border-bottom-left-radius: 0.625rem;

    inline-size: clamp(14.3rem, calc(10rem + 10vw), 18rem);
  }
}

.o-user_image {
  width: 2.5rem;
  border-radius: 50%;
}

/* #endregion = OBJECTS / LAYOUT */

/* #region = UTILITIES */

.u-font_color\:grey-500 {
  color: $color-gray-500;
}

.u-font_color\:grey-400 {
  color: $color-gray-400;
}

.u-flex_gap\:1rem {
  gap: 1rem;
}

.u-flex_gap\:1\.5rem {
  gap: 1.5rem;
}

.u-flex_align-i\:center {
  align-items: center;
}

.u-flex_justify-c\:sp-btw {
  justify-content: space-between;
}

.u-mb\:1rem {
  margin-bottom: 1rem;

  @media (min-width: 48rem) {
    margin-bottom: 0;
  }
}

.u-pos\:relative {
  position: relative;
}

/* #endregion = UTILITIES */
